@charset "utf-8";
/* CSS Document */













ul {
margin-left: 300px;
}

body {
margin: 0px;
background-color: #B8A999;
}
/*#;C8BDBB*/



h5 {
margin: 0;
font: bold 26px Arvo,"Helvetica Neue","HelveticaNeue",Helvetica,Arial,sans-serif;
color: #A13709;
padding: 15px;
display: block;
position: relative;
padding-left: 200px;
text-shadow: 0 2px 2px rgba(255,255,255,0.4);
border-bottom: 6px rgba(0,0,0,0.05) solid;
box-shadow: inset 0 -1px 3px rgba(255,255,255,0.17);
}

h6 {
margin: 0;
font: bold 26px Arvo,"Helvetica Neue","HelveticaNeue",Helvetica,Arial,sans-serif;
color: #A13709;
padding: 15px;
padding-bottom: 12px;
margin-top: 15px;
display: block;
position: relative;
padding-left: 200px;
text-shadow: 0 2px 2px rgba(255,255,255,0.4);
border-bottom: 6px rgba(0,0,0,0.05) solid;
}

h3 {
margin: 0;
font: bold 26px Arvo,"Helvetica Neue","HelveticaNeue",Helvetica,Arial,sans-serif;
color: #A13709;
padding: 15px;
display: block;
position: relative;
padding-left: 200px;
text-shadow: 0 2px 2px rgba(255,255,255,0.4);
border-bottom: 6px rgba(255,255,255,0.2) solid;
box-shadow: 0 2px 2px rgba(0,0,0,0.07);
}

h4 {
font: bold 26px "Helvetica Neue","HelveticaNeue",Helvetica,Arial,sans-serif;
color: #AA440F;
padding: 15px;
background: rgba(200,210,230,0.4);
display: block;
position: relative;
padding-left: 200px;
text-shadow: 0 2px 2px rgba(255,255,255,0.4);
box-shadow: 0 2px 2px rgba(0,0,0,0.07);
}
/*B8A994*/
form{
margin: 0px;
padding: 0px;
}

form ul {
color: #442205;

font: bold 16px/1.8 "Helvetica Neue","HelveticaNeue",Helvetica,Arial,sans-serif;

padding: 0px;
padding-top: 10px;
padding-bottom: 15px;
margin-bottom: 0px;
margin-top: 0px;
}

li {
list-style: none;
padding-left: 20px;
padding-right: 20px;
padding-top: 8px;
padding-bottom: 0px;
}

form li { position:relative }
/*label  { position:absolute; top:0; left:0}*/

label.infield {
cursor: text;
}

li input {
background: rgba(255, 255, 255, .4);
padding: 9px;
padding-top: 9px;
width: 200px;
font: 18px "Helvetica Neue","HelveticaNeue",Helvetica,Arial,sans-serif;
border: 0px transparent solid;
border-radius: 6px;
    border-bottom: 2px solid rgba(0,0,0,0.35);
    border-right: 2px solid rgba(255,255,255,0.35);
    border-top: 2px solid rgba(255,255,255,0.20);
    box-shadow: inset 0 -2px 1px rgba(255,255,255,0.4);
color: #662205;
text-shadow: 0 1px 1px rgba(255,255,255,0.4);
}

li input:focus {
background: rgba(255, 255, 255, .8);
}

li input#id_civilite {
width: 80px;
}

#contact_form label {
border: 1px solid transparent;
padding: 9px;
padding-top: 10px;
font: 18px "Helvetica Neue","HelveticaNeue",Helvetica,Arial,sans-serif;
color: #662205;
text-shadow: 0 1px 1px rgba(255,255,255,0.4);
}

li select {
border: 0px transparent solid;
background: rgba(255, 255, 255, .5);
line-height: 20px;
font: 18px "Helvetica Neue","HelveticaNeue",Helvetica,Arial,sans-serif;
    box-shadow: inset 0 1px 1px rgba(255,255,255,0.2);
color: #662205;
text-shadow: 0 1px 1px rgba(255,255,255,0.4);
}

input#id_origine_etages, input#id_destination_etages {
width: 50px;
}
input.meuble-quantite, input.spinner {
width: 50px;
background-color: transparent;
border: none;
box-shadow: none;
font: bold 25px "Helvetica Neue","HelveticaNeue",Helvetica,Arial,sans-serif;
color: #8A340F;
text-align: right;
padding: 5px;
}
input#id_origine_code, input#id_destination_code {
display: block;
}

#demenagement {
display: block;
}
#demenagement-holder {
background-color: rgba(200,250,250,0.4);
margin: 0px;
padding: 0px;
}

#demenagement li {
display: inline-block;
vertical-align: top;
padding: 0px;
text-align: right;
}

#calendrier {
display: block;
}
#calendrier li{
display: inline-block;
vertical-align: middle;
padding: 0px;
}

#calendrier li.arrow, #demenagement li.arrow {
padding: 20px;
font-size: 40px;
color: #4A240F;
line-height: 20px;
text-shadow: 1px 2px 1px rgba(255,255,255,0.2);
font-weight: normal;
}
#coordonnees {
display: block;
text-align: right;
width: 510px;
margin-left: 270px;
padding-bottom: 0px;
}

#coordonnees li{
display: inline-block;
position: relative;
padding: 0px;
padding-right: 2px;
padding-bottom: 10px;
}

li.break, #coordonnees li.break
{
list-style: none;
margin: 0px;
padding: 0px;
display: block;
height: 0px;
width: 0px;
border: none;
}

.etages {
display: inline-block;
text-align: left;
font-weight: normal;
font-size: 18px;
line-height: 18px;
position: relative;
margin: 0px;
padding: 0px;
margin-bottom: 14px;
position: relative;
left: -43px;
vertical-align: bottom;
color: #662205;
}

.ascenseur {
display: inline-block;
text-align: left;
font-weight: normal;
font-size: 18px;
line-height: 18px;
margin: 0px;
padding: 0px;
margin-bottom: 5px;
position: relative;
left: -77px;
vertical-align: bottom;
color: #662205;
}

a.ui-spinner-button{
display: inline-block;
vertical-align: top;
margin-top: 7px;
cursor: pointer;
}

#devis {
display: inline-block;
margin-left: 14px;
}

a#volume-link {
margin-left: 3px;
color: #333388;
cursor: pointer;
padding: 4px;
background-color: rgba(255,255,255,0.3);
border: 0px transparent solid;
border-radius: 6px;
    border-bottom: 2px solid rgba(0,0,0,0.35);
    border-right: 2px solid rgba(255,255,255,0.35);
    border-top: 2px solid rgba(255,255,255,0.20);
    box-shadow: inset 0 -2px 1px rgba(255,255,255,0.4);
color: #662205;
text-shadow: 0 1px 1px rgba(255,255,255,0.4);
font-weight: normal;
}

a#volume-link:hover {
background-color: rgba(255,255,255,0.6);
}
a#volume-link:active {
background-color: rgba(0,0,0,0.1);
}


#devis label {
margin: 0;
padding: 0;
padding-right: 4px;
}

#volume-estimate {
font-size: 18px;
color: #4A240F;
}

ul#volume {
padding-bottom: 0px;
}

ul#volume li {
padding-left: 0;
}

#devis-option {
margin-left: 10px;
display: inline;
font: 18px "Helvetica Neue","HelveticaNeue",Helvetica,Arial,sans-serif;
color: #662205;
text-shadow: 0 1px 1px rgba(255,255,255,0.4);
}

.chambre {

margin: 0;
font: 22px "Helvetica Neue","HelveticaNeue",Helvetica,Arial,sans-serif;
color: #662205;
padding: 5px;
display: block;
position: relative;
padding-left: 15px;
text-shadow: 0 2px 2px rgba(255,255,255,0.4);
border-top: 5px rgba(0,0,0,0.05) solid;
}
ul.chambres {
border-bottom: 5px rgba(0,0,0,0.05) solid;
width: 500px;
padding: 0px;
margin-top: 15px;
}

form ul.meubles {
margin: 0;
padding-top: 0px;
padding-bottom: 10px;
}
form ul.meubles:last-child {
padding-bottom: 0px;
}
form ul.meubles li {
display: inline-block;
padding: 0;
}
.labelled-hidden-input-text {
vertical-align: middle;
font:20px "Helvetica Neue","HelveticaNeue",Helvetica,Arial,sans-serif;
color: #442205;
padding: 0;
margin: 0;
letter-spacing: -2px;
}

a {
cursor: pointer;
}

button[type="submit"] {
    -webkit-appearance: none;
margin: 0;
font: bold 26px Arvo,"Helvetica Neue","HelveticaNeue",Helvetica,Arial,sans-serif;
color: #A13709;
background: rgba(255,255,255,0.3);
display: block;
position: relative;
border: none;
padding: 10px;
border-radius: 10px;
margin-left: 450px;
margin-top: 10px;
text-shadow: 0 2px 2px rgba(255,255,255,0.4);
border-bottom: 2px rgba(0,0,0,0.15) solid;
box-shadow: inset 0 -1px 3px rgba(255,255,255,0.17);
cursor: pointer;
}
button[type="submit"]:hover{
background-color: rgba(255,255,255,0.6);
}
button[type="submit"]:active {
background-color: rgba(0,0,0,0.1);
}
div#bottom {
background-color: rgba(77, 62, 84, 0.6);
height: 100px;
margin: 0;
}
div#top {
background-color: transparent;
height: 100px;
margin: 0;
}

div#height-filler {
height: 20px;
}

.errors input {
background-color: rgba(255,40,37,0.6);
border-bottom: 1px transparent solid;
box-shadow: none;
}






.ui-datepicker {
margin-top: 5px;
border-radius: 6px;
	width: 17em;
	padding: .2em .2em 0;
	display: none;
	background-color: rgba(255,255,255,0.9);
font:20px "Helvetica Neue","HelveticaNeue",Helvetica,Arial,sans-serif;

}
.ui-datepicker .ui-datepicker-header {
	position: relative;
	padding: .2em 0;
}
.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
	position: absolute;
	top: 2px;
	width: 1.8em;
	height: 1.8em;
}
.ui-datepicker .ui-datepicker-prev {
	left: 2px;
}
.ui-datepicker .ui-datepicker-next {
	right: 25px;
}

.ui-datepicker .ui-datepicker-prev span,
.ui-datepicker .ui-datepicker-next span {
	display: block;
	position: absolute;
	left: 50%;
	margin-left: -8px;
	top: 50%;
	margin-top: -8px;
}
.ui-datepicker .ui-datepicker-title {
	margin: 0 2.3em;
	line-height: 1.8em;
	text-align: center;
}
.ui-datepicker .ui-datepicker-title select {
	font-size: 1em;
	margin: 1px 0;
}
.ui-datepicker select.ui-datepicker-month-year {
	width: 100%;
}
.ui-datepicker select.ui-datepicker-month,
.ui-datepicker select.ui-datepicker-year {
	width: 49%;
}
.ui-datepicker table {
	width: 100%;
	font-size: .9em;
	border-collapse: collapse;
	margin: 0 0 .4em;
}
.ui-datepicker th {
	padding: .7em .3em;
	text-align: center;
	font-weight: bold;
	border: 0;
}
.ui-datepicker td {
	border: 0;
	padding: 1px;
}
.ui-datepicker td span,
.ui-datepicker td a {
	display: block;
	padding: .2em;
	text-align: right;
	text-decoration: none;
}
.ui-datepicker .ui-datepicker-buttonpane {
	background-image: none;
	margin: .7em 0 0 0;
	padding: 0 .2em;
	border-left: 0;
	border-right: 0;
	border-bottom: 0;
}
.ui-datepicker .ui-datepicker-buttonpane button {
	float: right;
	margin: .5em .2em .4em;
	cursor: pointer;
	padding: .2em .6em .3em .6em;
	width: auto;
	overflow: visible;
}
.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current {
	float: left;
}

/* with multiple calendars */
.ui-datepicker.ui-datepicker-multi {
	width: auto;
}
.ui-datepicker-multi .ui-datepicker-group {
	float: left;
}
.ui-datepicker-multi .ui-datepicker-group table {
	width: 95%;
	margin: 0 auto .4em;
}
.ui-datepicker-multi-2 .ui-datepicker-group {
	width: 50%;
}
.ui-datepicker-multi-3 .ui-datepicker-group {
	width: 33.3%;
}
.ui-datepicker-multi-4 .ui-datepicker-group {
	width: 25%;
}
.ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-header,
.ui-datepicker-multi .ui-datepicker-group-middle .ui-datepicker-header {
	border-left-width: 0;
}
.ui-datepicker-multi .ui-datepicker-buttonpane {
	clear: left;
}
.ui-datepicker-row-break {
	clear: both;
	width: 100%;
	font-size: 0;
}

/* RTL support */
.ui-datepicker-rtl {
	direction: rtl;
}
.ui-datepicker-rtl .ui-datepicker-prev {
	right: 2px;
	left: auto;
}
.ui-datepicker-rtl .ui-datepicker-next {
	left: 2px;
	right: auto;
}
.ui-datepicker-rtl .ui-datepicker-prev:hover {
	right: 1px;
	left: auto;
}
.ui-datepicker-rtl .ui-datepicker-next:hover {
	left: 1px;
	right: auto;
}
.ui-datepicker-rtl .ui-datepicker-buttonpane {
	clear: right;
}
.ui-datepicker-rtl .ui-datepicker-buttonpane button {
	float: left;
}
.ui-datepicker-rtl .ui-datepicker-buttonpane button.ui-datepicker-current,
.ui-datepicker-rtl .ui-datepicker-group {
	float: right;
}
.ui-datepicker-rtl .ui-datepicker-group-last .ui-datepicker-header,
.ui-datepicker-rtl .ui-datepicker-group-middle .ui-datepicker-header {
	border-right-width: 0;
	border-left-width: 1px;
}

.ui-datepicker-title {
font-weight: bold;
}

.fieldspan {
display: inline-block;
margin: 0;
padding: 0;
}

.fieldspan label {
position: absolute;

}

#horizontal-200px {
width: 200px;
display: inline-block;
}


.ui-tooltip {
	padding: 8px;
	position: absolute;
	z-index: 9999;
	max-width: 300px;
	-webkit-box-shadow: 0 0 5px #aaa;
	box-shadow: 0 0 5px #aaa;
	background-color: rgba(255,255,255,0.8);
font:20px "Helvetica Neue","HelveticaNeue",Helvetica,Arial,sans-serif;
color: #442205;

}
body .ui-tooltip {
	outline: 3px rgba(0,0,0,0.07) solid;
}


input[type=checkbox] {
margin: 0;
padding: 0;
width: auto;
position: relative;
left: -7px;
}
