<html>
<head>
<title>Démenagement particulier: Demande de devis</title>




<link href="/static/css/devis.css" rel="stylesheet" type="text/css">

        {%comment%}
            <script type="text/javascript" src="/static/admin/js/jquery.min.js"></script>
            <script type="text/javascript" src="/static/admin/js/jquery.init.js"></script>
        {%endcomment%}

<script type="text/javascript"  src="/static/js/jquery-1.9.0.min.js"></script>
<script type="text/javascript"  src="/static/jquery-ui-1.9.2.custom/js/jquery-ui-1.9.2.custom.min.js"></script>

{{ meublequantite_formset.media }}


<script type="text/javascript" src="/static/js/jquery.infieldlabel.js"></script>

<script type="text/javascript">
$(document).ready(function() {
  $("#contact_form label[for]").inFieldLabels({fadeDuration:0,fadeOpacity:0.15});
  
  $('span.errors input').change(function(){$(this).parent('span.errors').removeClass('errors');});
});


</script>


        {% comment%}
            <script type="text/javascript" src="/static/admin/js/core.js"></script>
            <script type="text/javascript" src="/static/admin/js/admin/RelatedObjectLookups.js"></script>
            
            {{ contact_form.media }}
            
            <script type="text/javascript">
            window.__admin_media_prefix__ = "{% filter escapejs %}static/admin/{% endfilter %}";
            </script>
        {% endcomment%}








</head>
<body>
<div id="top">
 </div>


<form action="/devis/" method="post">
{% csrf_token %}

<div id="contact_form">
<h3>1. Vos coordonnées</h3>
<ul id="coordonnees">
    <li>
        <span class="null {% if contact_form.civilite.errors %}errors{%endif%}">
        {{ contact_form.civilite }}</span>
    </li>
    <li>
        <span class="null {% if contact_form.prenom.errors %}errors{%endif%}">
        {{ contact_form.prenom.label_tag }}{{ contact_form.prenom }}</span>

        <span class="null {% if contact_form.nom.errors %}errors{%endif%}">
        {{ contact_form.nom.label_tag }}{{ contact_form.nom }}</span>
    </li>
    <div class="break"></div>
    <li>
        <span class="null {% if contact_form.mel.errors %}errors{%endif%}">
        {{ contact_form.mel.label_tag }}{{ contact_form.mel }}</span>

        <span class="null {% if contact_form.phone.errors %}errors{%endif%}">
        {{ contact_form.phone.label_tag }}{{ contact_form.phone }}</span>
    </li>
</ul>

<h3>2. La date de votre déménagement</h3>
<ul id="calendrier">
    <li>
        <span class="null {% if contact_form.date_chargement.errors %}errors{%endif%}">
        {{ contact_form.date_chargement.label_tag }}{{ contact_form.date_chargement }}</span>
    </li><li class="arrow">
        ➡
    </li><li>
        <span class="null {% if contact_form.date_dechargement.errors %}errors{%endif%}">
        {{ contact_form.date_dechargement.label_tag }}{{ contact_form.date_dechargement }}</span>
    </li>
</ul>

<div id="demenagement-holder">
<h5>3. Votre déménagement</h5>
<ul id="demenagement">
    <li>
        <span class="null {% if contact_form.origine_ville.errors %}errors{%endif%}">
        {{ contact_form.origine_ville.label_tag }}{{ contact_form.origine_ville }}</span>

        <span class="null {% if contact_form.origine_code.errors %}errors{%endif%}">
        {{ contact_form.origine_code.label_tag }}{{ contact_form.origine_code }}</span>


        <div id="etages">Etages sans<br>ascenseur:</div>
        {{ contact_form.origine_etages_sans_ascenseur }} 
    </li>
    <li class="arrow">➡</li>
    <li>
    <span class="null {% if contact_form.destination_ville.errors %}errors{%endif%}">{{ contact_form.destination_ville.label_tag }}{{ contact_form.destination_ville }}</span>

        <span class="null {% if contact_form.destination_code.errors %}errors{%endif%}">
        {{ contact_form.destination_code.label_tag }}{{ contact_form.destination_code }}</span>
        
        {{ contact_form.destination_etages_sans_ascenseur.errors }}
        {{ contact_form.destination_etages_sans_ascenseur }}
    </li>
</ul>


<h6>4. La volume</h6>

<ul id="volume">
    <li>
        <span class="null {% if contact_form.volume.errors %}errors{%endif%}">
        {{ contact_form.volume.label_tag }}{{ contact_form.volume }}</span>
       
<div id="devis-option">
Ou calculez:
</div>
<div id="devis">
<label>devis:</label><span id="volume-estimate">0</span> <a id="volume-link"></a>
</div>

    </li>
</ul>

{{ meublequantite_formset.as_ul }}
<h6>5. Obtenez votre devis</h6>

<button type="submit" name="valider" value="Valider" />Valider</button>
<div id="height-filler"></div>
</div>
</div>
<div id="bottom">
 </div>

</form>
</body>
</html>