<!doctype html>
<html>
<head>
<title>Démenagement particulier: Demande de devis</title>




<link href="/static/css/devis.css" rel="stylesheet" type="text/css">



<script type="text/javascript"  src="/static/js/jquery-1.9.0.min.js"></script>
<script type="text/javascript"  src="/static/jquery-ui-1.9.2.custom/js/jquery-ui-1.9.2.custom.min.js"></script>

<link href='http://fonts.googleapis.com/css?family=Arvo' rel='stylesheet' type='text/css'>


</head>
<body>
<div id="top">
 </div>


<div id="mainlinks-holder">
<h3>DEMETRANS démenagements</h3>
    <p><a href="/devis" id="particulier">
Particulier : Vous souhaitez déménager votre appartement ou votre maison ?
    </a></p>
    <p><a id="professionnel">
Professionnel : Vous souhaitez déménager votre entreprise ou votre local professionnel ?
    </a></p>
</div>

<div id="info-holder">
<p>
DEMETRANS vous propose une gamme complète de prestations  du déménagement de particulier au déménagement de professionnel  pour transporter vos biens sur tout le territoire national.
</p>
<p>
Grâce à une structure solide, des moyens performants et une équipe de professionnels, DEMETRANS est en mesure d’assurer tous types de déménagements pour les particuliers et de transferts de société sur toute la France.
</p>
<p>
N'hésitez pas à nous contacter pour un devis gratuit.
</p>
<p id="contact-info">
Déménagements DEMETRANS<br>
1, petite rue du Roulet – 69100 VILLEURBANNE<br>
Téléphone : +33(0)4 72 04 30 61<br>
Mobile : 06 06 61 26 84<br>
Email : demetrans@rocketmail.com<br>
</p>

</div>
</body>
</html>